/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/reset";
@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.warehouse-cards {
  &-wrap {
    border-top: 0.75px solid $secondary-light;
    border-bottom: 0.75px solid $secondary-light;
    @include tp.small-body-small;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    color: $secondary-dark;
    @include bp.medium {
      // flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      border-top: none;
      padding: 1rem 2rem;
      @include tp.large-body-small;
    }
  }
  &__warehouse-name {
    display: flex;
    align-items: center;
    // padding-top: 4px;
    margin: 0;
    color: $primary-semi-light;
    font-weight: bold;
    &-title {
      @include bp.medium {
        display: none;
      }
    }
    &-icon {
      height: 0.625rem;
      width: 6.17px;
      padding-left: 10px;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      padding: 1rem 1.5rem 0;
      width: 50%;
      @include bp.medium {
        // width: auto;
        padding: 0;
        max-width: 20%;
        order: 1;
        flex: 1;
      }
    }
    // &-contact-wrap {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
  &__contact-name {
    padding-top: 4px;
    &-title {
      @include bp.medium {
        display: none;
      }
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      width: 50%;
      @include bp.medium {
        // width: auto;
        padding: 0;
        order: 3;
        max-width: 20%;
        // margin-left: 1rem;
        flex: 1;
      }
    }
  }
  &__address {
    padding-top: 4px;
    &-title {
      @include bp.medium {
        display: none;
      }
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      padding: 4px;
      width: 50%;
      padding: 1rem 1.5rem 0;
      @include bp.medium {
        width: 100%;
        padding: 0 1rem 0 0;
        order: 2;
        max-width: 20%;
        flex: 1;
      }
    }
  }
  &__contact-info {
    &-title {
      @include bp.medium {
        display: none;
      }
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      @include bp.medium {
        padding: 0;
        order: 4;
        max-width: 20%;
        flex: 1;
      }
    }
    &-phone {
      padding-top: 4px;
    }
    // &-email {
    //   padding-top: 4px;
    // }
    //     &-address-wrap {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
  &__icons {
    &-del {
      height: 20px;
      padding: 0;
      margin: 0;
    }
    &-edit {
      height: 20px;
      padding: 0;
      margin: 0;
    }
    &-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1.1875rem 1.75rem 1.6875rem;
      @include bp.medium {
        padding: 0;
        margin: 0;
        order: 5;
        max-width: 20%;
        justify-content: space-evenly;
        flex: 1;
      }
    }
  }
}
/* BREAK POINTS */

// @include bp.small {
// }
// @include bp.medium {
// }
// @include bp.large {
// }
