/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/reset";
@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.warehouse-cards {
  &-wrap {
    border-top: 0.75px solid $secondary-light;
    border-bottom: 0.75px solid $secondary-light;
    @include tp.small-body-small;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  &__warehouse-name {
    display: flex;
    align-items: center;
    padding-top: 4px;
    &-link {
      text-decoration: none;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      padding: 1rem 1.5rem 0;
      width: 50%;
    }
    // &-contact-wrap {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
  &__contact-name {
    padding-top: 4px;
    &-wrap {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      width: 50%;
    }
  }
  &__address {
    padding-top: 4px;
    &-wrap {
      display: flex;
      flex-direction: column;
      padding: 4px;
      width: 50%;
      padding: 1rem 1.5rem 0;
    }
  }
  &__contact-info {
    &-wrap {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
    }
    &-phone {
      padding-top: 4px;
    }
    // &-email {
    //   padding-top: 4px;
    // }
    //     &-address-wrap {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
  &__icons-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.1875rem 1.75rem 1.6875rem;
  }
  &__icons {
    &-del {
      height: 20px;
    }
    &-edit {
      height: 20px;
    }
  }
}
