/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/reset";
@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.inventory-list {
  display: flex;
  justify-content: center;
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    width: 100%;
    margin: -6.2rem 1rem 0 1rem;
    background-color: $primary-light;
    border-radius: 0.25rem;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      margin: -5.85rem 3rem 0 3rem;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      margin: -5.85rem 5rem 0 5rem;
    }
  }
  &__search-form {
    width: 100%;
    padding: 2rem 1.75rem 1rem;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      width: 100%;
      display: flex;
      padding: 2rem 2rem 1rem;
      // flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      width: 100%;
      display: flex;
      padding: 2rem 3rem 1rem;
      // flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__search-label {
    @include tp.small-page-header;
    display: flex;
    text-align: left;
    color: $primary-dark;
    margin-bottom: 1rem;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      margin: 0;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      margin: 0;
    }
  }
  &__search-input {
    outline: none;
    &-button-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
      @include bp.medium {
        width: 60%;
        flex-direction: row;
        margin: 0;
      }
      /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
      @include bp.large {
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: right;
        width: 50%;
      }
    }
    width: 100%;
    height: 2.25rem;
    @include mx.btn-secondary;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      height: 2.375rem;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      height: 2.375rem;
    }
    // padding: 0 3.5rem 0 1.5rem;
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    width: 100%;
    // margin: 0 1.5rem;
    &:focus {
      color: $primary-dark;
      border: 0.75 solid $primary-semi-light;
    }
    &:hover {
      @include mx.btn-secondary-hover;
    }
    &::placeholder {
      color: $secondary-dark;
      @include tp.small-auxiliary;
      /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
      @include bp.medium {
        @include tp.large-auxiliary;
      }
      /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
      @include bp.large {
        @include tp.large-auxiliary;
      }
    }
  }
  &__add-inventory-btn {
    @include mx.btn-primary-mobile;
    margin: 1rem 0;
    width: 100%;
    &:hover {
      @include mx.btn-primary-hover;
    }
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      @include mx.btn-primary;
      height: 2.375rem;
      padding: 0;
      margin: 0 0 0 1rem;
      max-width: 10rem;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      @include mx.btn-primary;
      height: 2.375rem;
      padding: 0;
      margin: 0 0 0 1rem;
      max-width: 10rem;
    }
  }
  &-banner {
    color: $secondary-dark;
    background-color: $background-light;
    @include tp.large-table-header;
    width: 100%;
    padding: 0 2rem;
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      padding: 0 3rem;
    }
    display: flex;
    align-items: center;
    &__text-icon-wrap {
      display: flex;
      max-width: 16.67%;
      flex: 1;
      align-items: center;
    }
    &__title {
      padding-right: 8px;
    }
    &__sort-icon {
      padding: 0;
      margin: 0;
      height: 16px;
      cursor: pointer;
    }
    &__actions {
      /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
      @include bp.medium {
        max-width: 16.67%;
        flex: 1;
        text-align: center;
      }
      /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
      @include bp.large {
        max-width: 16.67%;
        flex: 1;
        text-align: center;
      }
    }
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      display: flex;
    }
    /* ----------------- STYLING FOR SMALL DEVICES ----------------- */
    @include bp.small {
      display: none;
    }
  }
}