/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/reset";
@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.warehouse-list {
  display: flex;
  justify-content: center;
  // margin-bottom: 1.5rem;
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    width: 100%;
    margin: -6.2rem 1rem 0 1rem;
    background-color: $primary-light;
    border-radius: 0.25rem;

    @include bp.medium {
      margin: -6.85rem 3rem 0 3rem;
    }

    @include bp.large {
      margin: -6.85rem 5rem 0 5rem;
    }
  }
  &__search-form {
    width: 100%;
  }
  &__search-label {
    @include tp.small-page-header;
    display: flex;
    text-align: left;
    margin: 2rem 1.5rem 1rem;
  }
  &__search-input {
    outline: none;
    background: $primary-light;
    width: 100%;
    height: 2.25rem;
    @include bp.medium {
      height: 2.375rem;
    }
    @include bp.large {
      height: 2.375rem;
    }
    border: 1px solid $secondary-light;
    border-radius: 1.25rem;
    padding: 0 3.5rem 0 1.5rem;
    margin: 1rem;
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    width: 100%;
    margin: 0 1.5rem;
    &:focus {
      color: $primary-dark;
      border-color: $primary-semi-light;
    }
    &::placeholder {
      color: $secondary-dark;
      @include tp.small-auxiliary;
      @include bp.medium {
        @include tp.large-auxiliary;
      }
      @include bp.large {
        @include tp.large-auxiliary;
      }
    }
    &-button-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1.5rem;
    }
  }
  &__add-warehouse-btn {
    // @include mx.btn-primary;
    &:hover {
      @include mx.btn-primary-hover;
    }
    @include mx.btn-primary-mobile;
    margin: 1rem 0 1.5rem;
    width: 100%;
  }
}

/* BREAK POINTS */

// @include bp.small {
// }
// @include bp.medium {
// }
// @include bp.large {
// }
