/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/reset";
@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.warehouse-list {
  &-banner {
    color: $secondary-dark;
    background-color: $background-light;
    @include tp.large-body-small;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    &__warehouse {
      background-image: url(../../assets//icons/sort-24px.svg);
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: 5rem 50%;
      @include bp.medium {
        max-width: 20%;
        flex: 1;
      }
    }
    &__address {
      background-image: url(../../assets//icons/sort-24px.svg);
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: 5rem 50%;
      @include bp.medium {
        max-width: 20%;
        flex: 1;
      }
    }
    &__contact-name {
      background-image: url(../../assets//icons/sort-24px.svg);
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: 6rem 50%;
      @include bp.medium {
        max-width: 20%;
        flex: 1;
      }
    }
    &__contact-info {
      background-image: url(../../assets//icons/sort-24px.svg);
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: right;
      @include bp.medium {
        max-width: 20%;
        flex: 1;
      }
    }
    &__actions {
      @include bp.medium {
        max-width: 20%;
        flex: 1;
        text-align: center;
      }
    }
    @include bp.medium {
      display: flex;
    }
    @include bp.small {
      display: none;
    }
  }
  display: flex;
  justify-content: center;
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    width: 100%;
    margin: -6.2rem 1rem 0 1rem;
    background-color: $primary-light;
    border-radius: 0.25rem;

    @include bp.medium {
      margin: -6.85rem 3rem 0 3rem;
    }

    @include bp.large {
      margin: -6.85rem 5rem 0 5rem;
    }
  }
  &__search-form {
    width: 100%;
    @include bp.medium {
      display: flex;
      flex-direction: row;
    }
  }
  &__search-label {
    @include tp.small-page-header;
    display: flex;
    text-align: left;
    margin: 2rem 1.5rem 1rem;
    color: $primary-dark;
  }
  &__search-input {
    // outline: none;
    // background: $primary-light;
    width: 100%;
    height: 2.25rem;
    @include mx.btn-secondary;
    @include bp.medium {
      height: 2.375rem;
      margin: 1rem;
    }
    @include bp.large {
      height: 2.375rem;
    }
    // border: 1px solid $secondary-light;
    // border-radius: 1.25rem;
    padding: 0 3.5rem 0 1.5rem;
    // margin: 1rem;
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    width: 100%;
    margin: 0 1.5rem;
    &:focus {
      color: $primary-dark;
      border: 0.75 solid $primary-semi-light;
    }
    &:hover {
      @include mx.btn-secondary-hover;
    }
    &::placeholder {
      color: $secondary-dark;
      @include tp.small-auxiliary;
      @include bp.medium {
        @include tp.large-auxiliary;
      }
      @include bp.large {
        @include tp.large-auxiliary;
      }
    }
    &-button-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1.5rem;
      @include bp.medium {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  &__add-warehouse-btn {
    // @include mx.btn-primary;
    &:hover {
      @include mx.btn-primary-hover;
    }
    @include mx.btn-primary-mobile;
    margin: 1rem 0 1.5rem;
    width: 100%;
    @include bp.medium {
      @include mx.btn-primary;
      height: 2.375rem;
      padding: 0;
    }
  }
}

/* BREAK POINTS */

// @include bp.small {
// }
// @include bp.medium {
// }
// @include bp.large {
// }
