/* ------------------------------- PARTIAL IMPORTS ------------------------------- */
@use "../../styles/partials/mixins" as mx;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/reset" as *;

::placeholder {
  color: $secondary-dark;
}

.warehouse {
  &__wrapper {
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    margin: -6.2rem 1rem 0 1rem;
    background-color: $primary-light;
    border-radius: 0.25rem;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      margin: -5.85rem 3rem 0 3rem;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      margin: -5.85rem 5rem 0 5rem;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $secondary-light;
    padding: 1rem 1rem 0 1rem;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      padding: 0 2rem 0 2rem;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      padding: 0 2rem 0 2rem;
    }
  }
  &__back {
    width: 1rem;
    height: 1rem;
    background-image: url(../../assets/icons/arrow_back-24px.svg);
    background-position: center;
    padding: 1rem;
  }
  &__edit {
    @include tp.small-page-header;
    font-weight: 600;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      @include tp.large-page-header;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      @include tp.large-page-header;
    }
  }
  &__form-top {
    display: flex;
    flex-direction: column;
    @include mx.small-padding;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      margin-top: 1rem;
      width: 50%;
      padding: 0 2rem;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      margin-top: 1rem;
      width: 50%;
      padding: 0 2rem;
    }
  }
  &__form-subhead {
    font-weight: 600;
    @include tp.small-sub-header;
    margin: 0;
    padding-top: 1rem;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      padding-top: 0;
      @include tp.large-sub-header;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      padding-top: 0;
      @include tp.large-sub-header;
    }
  }
  &__form-label {
    @include tp.small-auxiliary;
    font-weight: 600;
    padding-top: 1rem;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      @include tp.large-auxiliary;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      @include tp.large-auxiliary;
    }
  }
  &__input {
    color: $secondary-dark;
    &:focus {
      outline: none;
      border-color: $primary-semi-light;
    }
    @include mx.formMobile;
    font-family: "Titillium";
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      @include tp.large-body-medium;
      color: $secondary-dark;
      &:focus {
        outline: none;
        border-color: $primary-semi-light;
      }
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      @include tp.large-body-medium;
      color: $secondary-dark;
      &:focus {
        outline: none;
        border-color: $primary-semi-light;
      }
    }
    &--error {
      border: 1px solid $supporting-semi-light;
    }
  }
  &__form-bottom {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $secondary-light;
    @include mx.small-padding;
    margin-top: 1rem;
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      width: 50%;
      border: none;
      border-left: 1px solid $secondary-light;
      padding: 0 2rem;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      width: 50%;
      border: none;
      border-left: 1px solid $secondary-light;
      padding: 0 2rem;
    }
  }

  &__message {
    background-image: url(../../assets/icons/error-24px.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    align-self: center;
    color: $supporting-semi-light;
    @include tp.large-auxiliary;
    padding: 0 2rem;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-left: 0.5rem;
    background-color: $background-light;
    margin-top: 1rem;
  }
  &__button {
    &--primary {
      /* ----------------- STYLING FOR SMALL DEVICES ----------------- */
      @include bp.small {
        @include mx.btn-primary-mobile;
        height: 2.25rem;
        width: 50%;
        padding: 0.5rem 0.75rem;
      }

      &:hover {
        @include mx.btn-primary-hover;
      }
      margin-left: 0.5rem;
      /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
      @include bp.medium {
        margin: 0 1rem;
        @include mx.btn-primary;
        height: 2.375rem;
        padding: 0 1.5rem;
      }
      /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
      @include bp.large {
        margin: 0 1rem;
        @include mx.btn-primary;
        padding: 0 1.5rem;
        height: 2.375rem;
      }
    }
    &--secondary {
      /* ----------------- STYLING FOR SMALL DEVICES ----------------- */
      @include bp.small {
        height: 2.25rem;
        width: 100%;
        @include mx.btn-secondary-mobile;
      }

      &:hover {
        @include mx.btn-secondary-hover;
      }
      /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
      @include bp.medium {
        @include mx.btn-secondary;
        height: 2.375rem;
        padding: 0 1.5rem;
      }
      /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
      @include bp.large {
        @include mx.btn-secondary;
        height: 2.375rem;
        padding: 0 1.5rem;
      }
    }
  }

  &__form-container {
    /* ----------------- STYLING FOR MEDIUM DEVICES ----------------- */
    @include bp.medium {
      display: flex;
      justify-content: center;
    }
    /* ----------------- STYLING FOR LARGE DEVICES ----------------- */
    @include bp.large {
      display: flex;
      justify-content: center;
    }
  }
}
