@use "../../styles/partials/colors" as colors;
@use "../../styles/partials/fonts";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/typography";

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: colors.$background-light;
  padding: 2.5rem 0;
  margin-top: 2px;

  &--bottom {
    position: absolute;
    bottom: 0;
  }
  
  @include medium {
    padding-top: 4.375rem;
  }
  @include large {
    padding-top: 5.9375rem;
  }

  &__text {
    font-family: "Titillium";
    font-weight: 400;
    font-style: normal;
    margin: 0;
    @include small-body-small;
    color: colors.$secondary-dark;

    @include medium {
      @include large-table-header;
    }
  }
}
